#create-device
{
    /* float: right; */
    margin-right: 2px;
    width: 20%;
    margin: 10px;
}

.table-header input
{
    border-radius: 6px;
}

.p-input-icon-left
{
    float: right;
}

#filterIndustry{
width: 20%;
display: inline;
float: right;
}

#edit-btn , #remove-btn{
    margin: 4px;
}

.invalid-feedback{
    display: block;
}

input.ng-invalid {
    border: 1px solid #dc3545;
 }

 input.ng-valid {
    border: 1px solid #3da30e;
 }

 
